h1 {
  text-align: center;
  color: white;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center; 
}
body{
  
    background-image: url('უკანა.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   
}

.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); 
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover; 
}

.description {
  padding: 15px;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 1rem;
  color: #555;
}
